:root {
  --prime-green: hsl(75, 94%, 57%);
  --white-font: hsl(0, 0%, 100%);
  --grey-link: hsl(0, 0%, 20%);
  --darkgrey-bg2: hsl(0, 0%, 12%);
  --offblack-bg1: hsl(0, 0%, 8%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: inter;
  font-size: 14px;
  background-color: var(--offblack-bg1);
  color: var(--white-font);
}
header,
main,
footer {
  text-align: center;
}
a,
li,
ul {
  text-decoration: none;
  list-style-type: none;
  color: var(--white-font);
}

/** base styles, font and colors **/

.profile__wrapper--darkgrey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--darkgrey-bg2);
  margin: 50px auto;
  padding: 1em;
  width: 18rem;
  border-radius: 5px;
}
.profile__pic--round {
  margin: 10px auto;
}
.profile__pic--header {
  border-radius: 50%;
  width: 80px;
}
.info__name--large {
  font-size: 1.4rem;
  line-height: 1.8;
  font-weight: 500;
}
.info__about {
  font-size: 0.7rem;
  line-height: 2;
}
.info__location--green {
  color: var(--prime-green);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 0.8rem;
}
.nav__item {
  background-color: var(--grey-link);
  padding: 0.9em;
  margin: 13px;
  width: 240px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
}
.nav__item:hover {
  background-color: var(--prime-green);
  color: black;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--white-font);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
